<%- include('header') %>

<div class="container">
    <h1>Add Record in DB Using Ajax</h1>
    <form id="userForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">
            User Name</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">
            User Email
          </label>
          <input type="text" name="useremail" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="button" class="btn btn-primary btn-send">Send By Ajax</button>
        <button type="reset" class="btn btn-primary">Reset Data</button>
      </form>
      <p id="errMsg"></p> 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // console.log($);
    $(function(){
        // console.log("Jquery working");
        $(".btn-send").click(function(){
            // console.log("test")
            //fetch  textbox data
            // console.log($("#userForm"));
            // console.log($("#userForm").serialize());
            // console.log($("#userForm").serializeArray());
            //name=username
            //username=aa&useremail=bbb
            recordForNode = $("#userForm").serialize();

            //send data on server side (node js,express route)
            $.ajax({
                type:"post",
                url:"/form-action",
                // url:"http://localhost:3000/form-action"
                data:recordForNode,
                success:function(msgFromNode){
                    console.log(msgFromNode);
                    $("#errMsg").text(" <u>Record Added</u>");
                }

            });
        })
    });
</script>