<%- include('header') %>
<div class="container">
    <div class="row">
        <div class="col-xxl-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi culpa dicta illo harum neque vero adipisci facilis doloremque saepe. Excepturi sapiente quae blanditiis possimus omnis quia quidem aut dicta praesentium?
        </div>
        <div class="col-xxl-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi culpa dicta illo harum neque vero adipisci facilis doloremque saepe. Excepturi sapiente quae blanditiis possimus omnis quia quidem aut dicta praesentium?
        </div>
    </div> 
</div>